body{
    margin: 0;
    font-family: 'Champagne & Limousines', fallback, sans-serif;
}
nav li{
    display: inline;
    list-style-type: none;
    margin-left: 20px;
}
header{
    top: 0;
    height: 13%;
    width: 100%;
    position: fixed;
    background-color: white;
}
.logo{
    height: 40px;
    width: 170px;
    margin-left: 70px;
    float: left;
    margin-top: 20px;
    background-color: white;
}
.menu{
    margin-left: 40%;
    margin-top: 20px;
    float: left;
    width: fit-content;
    height: 100px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
a:hover{
    color: #ff4f5a;
    font-weight: 600;
}
.pic{
    height: 650px;
    width: 100%;
}
.welcomeBox{
    text-align: center;
    height: 400px;
    width: 100%;
    /* background-color: coral; */
    margin-top: 100px;
}
.welcomeImg{
    float: left;
    left: 50px;
    height: 350px;
    width: 350px;
    margin-left: 150px;
    margin-top: 20px;
}
.welcomeTextBox{
    float: right;
    height: fit-content;
    width: 500px;
    margin-right: 150px;
    margin-top: 60px;
    text-align: left;
}
.btndown{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    background-color: #ff4f5a;
    border: none;
}
.boxProduct{
    display: flex;
    flex-wrap: wrap;
    transition: all .1s ease-in;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.boxProductItem{
    display: flex;
    flex-grow: 1;
    flex-basis: 20%;
    padding: 2%;
    flex-direction: column;
}
.picProduct img{
    margin-top: 10px;
    height: 220px;
    width: 200px;
    margin-left: 60px;
}
.productContent{
    line-height: 0.8px;
    margin-top: auto;
    font-size: 20px;
    text-align: center;
    margin-left: 40px;
}
.btn{
    border-radius: 10px;
    background-color: #ff4f5a;
    width: 190px;
    height: 40px;
    margin-left: 65px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    color: white;
    font-weight: 400;
}
.btn:hover, .btn:focus{
    cursor: pointer;
    transform: translateY(-0.25em);
}
.boxTentang{
    height: 300px;
    margin-top: 40px;
}
.imgTentang{
    float: right;
    height: 400px;
    width: 400px;
    margin-right: 150px;
}
.imgLogo{
    float: left;
    height: 50px;
    left: 200px;
    margin-left: 70px;
    margin-top: 70px;
}
.textTentang{
    margin-top: 2px;
    float: left;
    width: 500px;
    margin-left: 80px;
}
.boxKontak{
    height: 500px;
    width: 300px;
    float: left;
    margin-left: 180px;
    margin-top: 40px;
}
.icon{
    height: 30px;
    width: 30px;
}
.imgProfile{
    height: 125px;
    width: 120px;
    border-radius: 100px;
    margin-left: 30px;
}
.boxAside{
    background-color: #ff4f5a;
    color: white;
    height: 300px;
    width: 270px;
    float: right;
    margin-right: 180px;
    margin-top: 40px;
    border-radius: 10px;
}
.asideContent{
    margin-top: 20px;
    font-size: 13px;
    margin-left: 15px;
}
.footer{
    background-color: #ff4f5a;
    color: white;
    height: 50px;
    width: 100%;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    position: fixed;
}
.pagination{
    display: flex;
    justify-content: center;
}
.boxPagination{
    padding: 10px;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.hoverPagination{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 60px;
    opacity: 0;
    transition-duration: 0.5s;
    transform: translateY(-50%);
}
.iconPagination{
    font-size: 12px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}
.iconPaginationPrev{
    margin-left: 10px;
    margin-right: 15px;
}
.iconPaginationNext{
    margin-left: 15px;
    margin-right: 10px;
    transform: rotate(180deg);
}
.page{
    border-radius: 5px;
    width:  50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    position: relative;
    font-weight: 700;
    font-size: 18px;
}
.page:hover, .page :active{
    color: #ff4f5a;
}
@font-face {
    font-family: 'Champagne & Limousines';
    font-style: normal;
    font-weight: normal;
    src: local('Champagne & Limousines'), url('Champagne & Limousines.woff') format('woff');
    }
    
    /* @font-face {
    font-family: 'Champagne & Limousines Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Champagne & Limousines Italic'), url('Champagne & Limousines Italic.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Champagne & Limousines Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Champagne & Limousines Bold'), url('Champagne & Limousines Bold.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Champagne & Limousines Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Champagne & Limousines Bold Italic'), url('Champagne & Limousines Bold Italic.woff') format('woff');
    } */